

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Expanded', sans-serif;
}

video{
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.nav__link{
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
    z-index: 3;
   

}

.nav__link--menu{
   display: inline-flex;
   justify-content: center;

    position: absolute;
    background-color: #ff7f00;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 2;
    list-style: none;
    padding: 1.3rem 1rem;
    
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    display: inline-flex;
    margin: 0 1rem;
    

}

.nav__img{
   top: -10px;
   left: 1rem;
   position: absolute;
   z-index: 4;
   width: 7rem;
   height: 5rem;
    
    
}

.container{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 2rem;
  
 
   
}


.hero__container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  
}

.hero__title{
   
    color: #000;
    font-size: 9em;
  
   
}

.hero__paragraph{
    text-transform: uppercase;
    font-weight: semi-bold;
    color:#ff7f00;
    font-size: 1.5em;
    margin: 20px;
   
   
}

.cta__hero{
    font-weight:semi-bold;
   text-transform: uppercase;
    background-color: #ff7f00;
    color: #000;
    text-align: center;
    padding: 1rem;
    border-radius: 40px;
    margin: 20px;
  
   
}
/*seccion nosotros*/

